<!doctype html>
<html>
<head>
    <title>Color Therapy</title>
  

    <link rel="stylesheet" href="style.css">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">

    <p class="par">Login or Signup:</p>
<div class="smallButn">
  <a id="b"href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
  <a id="b"href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>
</div>





        <h1>Color Therapy</h1>
        <img src="img/heart.png" alt="">




</div>
</body>
</html>
