<!doctype html>
<html>
<head>
    <title>Color Therapy</title>


    <link rel="stylesheet" href="style.css">
<link href="https://fonts.googleapis.com/css2?family=Neuton&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">

<div class="smallButn">
  <a id="b"href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
  <span class="span">or</span>
  <a id="l"href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>

</div>





</div>
</body>
</html>
