<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="newsfeed.css" />
  <link href="https://fonts.googleapis.com/css2?family=Neuton&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="main.css">
</head>

<body>




  <div id="wrapper">
    <div id="menu-wrapper">
      <div id="menu" class="container">
        <ul>
          <li class="current_page_item"><a href="/profile">Homepage</a></li>
          <li><a href="/newsfeed">Newsfeed</a></li>
          <li><a href="/calender">My Graph</a></li>
          <!-- <li><a href="#">About Us</a></li>
          <li><a href="#">Contact Us</a></li> -->
        </ul>
      </div>
    </div>
    <div id="logo" class="container">
      <h1><a class="title" href="#">Color Therapy</a></h1>
      <p>a forum where people can explore emotion by chosing a color and logging their mood of that day.Find friends and talk on related topics in your newsfeed!</p>
    </div>
    <!-- <div id="page" class="container">
    <div>
    <div class="entry">
    <p>This is <strong>Vestibule </strong>, a free, fully standards-compliant CSS template designed by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>.     The photos in this template are from <a href="http://fotogrph.com/"> Fotogrph</a>. This free template is released under the <a href="http://templated.co/license">Creative Commons Attribution</a> license, so you're pretty much free to do whatever you want with it (even use it commercially) provided you give us credit for it. Have fun :) </p>
  </div>
</div>
</div> -->

    <body>


      <i>
        <p>How are Hue? </p>
      </i>
      <i>
        <p class="close">Select the color most relative to your mood of the day and add a short message on how you feel. </p>
      </i>

      <div class="leap">
        <div class="colors">
          <button class="color red">
            <h2>Red</h2>
          </button>
        </div>
        <div class="colors">
          <button class="color blue">
            <h2>Blue</h2>
          </button>
        </div>
        <div class="colors">
          <button class="color green">
            <h2>Green </h2>
          </button>
        </div>
        <div class="colors">
          <button class="color purple">
            <h2>Purple</h2>
          </button>
        </div>
        <div class="colors">
          <button class="color yellow">
            <h2>Yellow</h2>
          </button>

        </div>



      </div>
      <form action="/newsFeedPost" method="POST">
        <div class="holder">
          <input type="text" value="<%= user.local.email %>" name="name" />
          <input type="text" placeholder="message" name="msg" class="messageInput" />
          <button type="submit">Submit</button>
        </div>


      </form>


      <div class="use">
        <div class="messages grid-container">
          <!-- //embeded javascript tempates
    //loops through message array -->
          <% for(var i=0; i< newsfeed.length; i++) {%> <% if (user.local.email
      == newsfeed[i].name) { %>
          <!-- //for every message put inside this -->
          <div class="message grid-item">
            <span><%= newsfeed[i].name%></span>
            <span data-id='<%=newsfeed[i]._id%>' id='newsfeedmsg'><%= newsfeed[i].msg %></span>
            <button class="remove">delete</button>
            <!-- <span class="fa-trash"><i  aria-hidden="true"></i>delete</span> -->
          </div>
          <!-- closes the loop, makes a div everytime it iterates -->
          <% } %> <% } %>
        </div>


        <!-- conditional checking user id, local, email -->
        <!-- <% if (user.local.email) { %> -->


        <!-- <% } %> -->

      </div>

  </div>
  </div>


  <script src="main.js"></script>
  <!-- <script src="https://kit.fontawesome.com/077191d827.js" crossorigin="anonymous"></script> -->
</body>

</html>
