<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title></title>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="main.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

  </head>

  <body>





  <div id="wrapper">
  	<div id="menu-wrapper">
  		<div id="menu" class="container">
  			<ul>
  				<li class="current_page_item"><a href="#">Homepage</a></li>
  				<li><a href="/newsfeed">Newsfeed</a></li>
  				<li><a href="#">Caleneder</a></li>
  				<li><a href="#">About Us</a></li>
  				<li><a href="#">Contact Us</a></li>
  			</ul>
  		</div>
  	</div>
  	<div id="logo" class="container">
  		<h1><a class="title" href="#">Color Therapy</a></h1>
  		<p>a forum where people can explore emotion by chosing a color and logging their mood of that day.Find friends and talk on related topics in your newsfeed!</p>
  	</div>
  	<!-- <div id="page" class="container">
  		<div>
  			<div class="entry">
  				<p>This is <strong>Vestibule </strong>, a free, fully standards-compliant CSS template designed by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>.     The photos in this template are from <a href="http://fotogrph.com/"> Fotogrph</a>. This free template is released under the <a href="http://templated.co/license">Creative Commons Attribution</a> license, so you're pretty much free to do whatever you want with it (even use it commercially) provided you give us credit for it. Have fun :) </p>
  			</div>
  		</div>
  	</div> -->

  <body>


    <div id="three-column" class="container">
      <div class="tbox1">
        <div class="box-style box-style01">
            <div class="colors">
              <div class="colors">
                <button class="color red"></button>

              </div>
            <h2>Red</h2>
            <p>You are passionate! Whether it be in anger or excitement, Red is a color that stimulates the mind the most... If you feel Red associated with failure, or danger. Explore those feelings here...</p>
            <a href="/chat/red" class="button">chat</a>
          </div>
        </div>
      </div>
      <div class="tbox2">
        <div class="box-style box-style02">
            <div class="colors">
              <div class="colors">
                <button class="color blue"></button>

              </div>
            <h2>Blue</h2>
            <p>Blue is the place for sultry people! You are relaxed, sad, and pure. Feel the calming efects of blue group here! </p>
            <a href="/chat/blue" class="button">learn more</a>
          </div>
        </div>
      </div>
      <div class="tbox3">
        <div class="box-style box-style03">
            <div class="colors">
              <div class="colors">
                <button class="color green"></button>
              </div>
            <h2>Green </h2>
            <p> Green can mean calm or free flowing, and lucky! However you are feeling today express it here!</p>
            <a href="/chat/green" class="button">Learn More</a>
          </div>
        </div>
      </div>
    </div>

    <div id="three-column" class="container">
      <div class="tbox1">
        <div class="box-style box-style01">
            <div class="colors">
              <div class="colors">
                <button class="color purple"></button>

              </div>
            <h2>Purple</h2>
            <p>Aged like wine purple is rich and royal!luxury, power, wisdom, creativity, and magic, it is the balancing color between red and blue's color psychologies. Be balanced and manifest thoughts in purple! </p>
            <a href="/chat/purple" class="button">Learn More</a>
          </div>
        </div>
      </div>
      <div class="tbox2">
        <div class="box-style box-style02">
            <div class="colors">
              <div class="colors">
                <button class="color yellow"></button>

              </div>
            <h2>Yellow</h2>
            <p> You are sunshine. Here is your space to be and feel positivity. </p>
            <a href="/chat/yellow" class="button">Learn More</a>
          </div>
        </div>
      </div>

    </div>
</div>



    <!-- <div class="container">
      <div class="page-header text-center">
        <h1><span class="fas fa-key"></span> Color Therapy</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
      </div>
      <div class="col-sm-6">
        <img src="img/hippie-clipart-meditating-17.png" alt="">
        <div class="colors">
          <button class="color red"></button>
          <button class="color blue"></button>
          <button class="color green"></button>
          <button class="color purple"></button>
          <button class="color yellow"></button>
        </div>
        <h3>Select a color!</h3> -->
      
<div id="footer">
	<p>© Anjelica Bethea.
</div>
<!-- end #footer -->
</body>
</html>
