<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title></title>
    <link href="https://fonts.googleapis.com/css2?family=Neuton&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="profile.css" />

  </head>

  <body id="body">


  <div id="wrapper">
  	<div id="menu-wrapper">
  		<div id="menu" class="container">
  			<ul>
  				<li class="current_page_item"><a href="#">Homepage</a></li>
  				<li><a href="/newsfeed">Newsfeed</a></li>
  				<li><a href="/calendar">Calendar</a></li>
  				<!-- <li><a href="#">About Us</a></li>
  				<li><a href="#">Contact Us</a></li> -->
  			</ul>
  		</div>
  	</div>
  	<div id="logo" class="container">
  		<h1><a class="title" href="#">Color Therapy</a></h1>
  	<i><p class="line"> A forum where you can explore your emotion. Chose a color! Find friends in chat rooms and vent.</p></i>
  	</div>
  	<!-- <div id="page" class="container">
  		<div>
  			<div class="entry">
  				<p>This is <strong>Vestibule </strong>, a free, fully standards-compliant CSS template designed by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>.     The photos in this template are from <a href="http://fotogrph.com/"> Fotogrph</a>. This free template is released under the <a href="http://templated.co/license">Creative Commons Attribution</a> license, so you're pretty much free to do whatever you want with it (even use it commercially) provided you give us credit for it. Have fun :) </p>
  			</div>
  		</div>
  	</div> -->

  <body>


    <div id="three-column" class="container">
      <div class="tbox1">
        <div class="box-style box-style02">
            <div class="colors">


              </div>
            <h2>How are hue?</h2>
            <p> Each box is labeled by color. Chose the color that best describes your mood and click the "chat" button to open the corresponding chatroom. Color has a vast connection to human emotion. In your chatrooms explore your feelings and their connection to the color. </p>

          </div>
        </div>
      <div class="tbox2">
        <div class="box-style box-style01">
            <div class="colors">
              <div class="colors">


              </div>

            <h2 class="rd">Red</h2>
            <p>Red associated can be associated with failure, or danger and even love.</p>
            <a href="/chat/red" class="button">chat</a>
          </div>
        </div>
      </div>
      <div class="tbox3">
        <div class="box-style box-style02">
            <div class="colors">
              <div class="colors">


              </div>
                </div>

            <h2 class="be">Blue</h2>
            <p>Blue is sultry. You are relaxed, sad, and pure. Feel the calming efects of blue group here. </p>
            <a href="/chat/blue" class="button">chat</a>
          </div>
        </div>
      </div>


    <div id="three-column" class="container">
      <div class="tbox1">
        <div class="box-style box-style03">
            <div class="colors">
              <div class="colors">

              </div>
            <h2 class="gn">Green </h2>
            <p> Green can mean calm or free flowing, and lucky!Explore the chat!</p>
            <a href="/chat/green" class="button">chat</a>
          </div>
        </div>
      </div>

      <div class="tbox2">
        <div class="box-style box-style01">
            <div class="colors">
              <div class="colors">


              </div>
            <h2 class="pe">Purple</h2>
            <p> Explore purple, it is rich, royal, powerful, wise, and creative. </p>
            <a href="/chat/purple" class="button">chat</a>
          </div>
        </div>
      </div>
      <div class="tbox3">
        <div class="box-style box-style02">
            <div class="colors">
              <div class="colors">


              </div>
            <h2 class="yw">Yellow</h2>
            <p> You are sunshine. Here is your space to be and feel positivity. </p>
            <a href="/chat/yellow" class="button">chat</a>
          </div>
        </div>
      </div>
      </div>



    <!-- <div class="container">
      <div class="page-header text-center">
        <h1><span class="fas fa-key"></span> Color Therapy</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
      </div>
      <div class="col-sm-6">
        <img src="img/hippie-clipart-meditating-17.png" alt="">
        <div class="colors">
          <button class="color red"></button>
          <button class="color blue"></button>
          <button class="color green"></button>
          <button class="color purple"></button>
          <button class="color yellow"></button>
        </div>
        <h3>Select a color!</h3> -->

<div id="footer">
	<p>© Anjelica Bethea.
</div>
<!-- end #footer -->
</body>
</html>
